## Helpful Python Functions :)

In [28]:
import pandas as pd
pd.set_option('display.max_columns',150)
import re 
from string import punctuation
import string

### Clean Columns Function

In [29]:
# this function will clean the column names of a df to make it more friendly to use 
# this functinon will take the name of the df as the paramter 
# this function only keeps words or digits, removes additional spaces,replaces spaces with underscores, and converts the field names to lowercase
# this functino will update the df field names with the cleaned names produced by the function 

def clean_columns(df):
    cols = df.columns
    cols = cols.str.replace(r'[^\w\s]',"")
    cols = cols.str.strip()
    cols = cols.str.replace('  ',' ')
    cols = cols.str.replace(' ','_')
    cols = cols.str.lower()
# updating column names with cleaned names    
    df.columns = cols
    
    return print('updated column names: ','\n', df.columns.values)

In [30]:
# example of function output 
file = 'https://people.sc.fsu.edu/~jburkardt/data/csv/crash_catalonia.csv'
test_df = pd.read_csv(file)
test_df.head(3)

  Day of Week   "Number of Crashes"
0      Sunday                 13664
1      Monday                 17279
2     Tuesday                 17337

In [31]:
print('Below are the original column names:')
print(test_df.columns.values)
print(' ')

clean_columns(test_df)

Below are the original column names:
['Day of Week' ' "Number of Crashes"']

updated column names:
 ['day_of_week' 'number_of_crashes']

### Remove First Column Function

In [36]:
def remove_1st_column(df):
    print('number of original columns: ', len(list(df)))
    df = df.iloc[:,1:len(list(df))]
    print('number of new columns: ', len(list(df)))
    return df.head()

In [37]:
text_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
text_df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [38]:
remove_1st_column(text_df)

number of original columns:  11
number of new columns:  10

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

### This is now test code

In [35]:
text_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
remove_1st_column(text_df)

number of original columns:  11
number of new columns:  10

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [ ]:
# function to turn every record review to lower 
def to_lower(text_field):
    text_field.apply(lambda x: x.lower())
    return df.head()

In [ ]:
missing_data = text_df.isnull()

missing_data.columns.values.tolist()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [17]:
text_df.dropna(inplace = True)

In [23]:
def remove_null(df):
    df.dropna(inplace=True)
    
    missing_data = text_df.isnull()
    missing_data.columns.values.tolist()
    
    for column in missing_data.columns.values.tolist():
        print(column)

In [27]:
text_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
text_df = text_df.iloc[:,1:len(list(text_df))]
text_df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

## Clean Free Form Text Fields Function

In [ ]:
# This function will preprocess free form text fields 
def clean_text_fields(text_field, df):
    pass

In [ ]:
# import data for validation 
text_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
print('Original Columns: ')
print(text_df.columns.values)
# review_text.head()

# testing that function is working 
# df = review_text.iloc[:,1:len(list(review_text))]
# df.head()

print(' ')

text_df = text_df.iloc[:,1:len(list(text_df))]
print('Updated Columns - Removed first column: ')
print(text_df.columns.values)

print(' ')
# review_text.head()

# cleaning column names 
clean_columns(text_df)

text_df.head()