## Helpful Python Functions :)

In [1]:
import pandas as pd
pd.set_option('display.max_columns',150)
import re 
from string import punctuation
import string

### Clean Columns Function

In [2]:
# this function will clean the column names of a df to make it more friendly to use 
# this functinon will take the name of the df as the paramter 
# this function only keeps words or digits, removes additional spaces,replaces spaces with underscores, and converts the field names to lowercase
# this functino will update the df field names with the cleaned names produced by the function 

def clean_columns(df):
    cols = df.columns
    cols = cols.str.replace(r'[^\w\s]',"")
    cols = cols.str.strip()
    cols = cols.str.replace('  ',' ')
    cols = cols.str.replace(' ','_')
    cols = cols.str.lower()
# updating column names with cleaned names    
    df.columns = cols
    
    return print('updated column names: ','\n', df.columns.values)

In [ ]:
# example of function output 
file = 'https://people.sc.fsu.edu/~jburkardt/data/csv/crash_catalonia.csv'
test_df = pd.read_csv(file)
test_df.head(3)

In [ ]:
print('Below are the original column names:')
print(test_df.columns.values)
print(' ')

clean_columns(test_df)

## Clean Free Form Text Fields Function

In [ ]:
# This function will preprocess free form text fields 
def clean_text_fields(text_field, df):
    pass

In [5]:
# import data for validation 
text_df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
print('Original Columns: ')
print(text_df.columns.values)
# review_text.head()

# testing that function is working 
# df = review_text.iloc[:,1:len(list(review_text))]
# df.head()

print(' ')

text_df = text_df.iloc[:,1:len(list(text_df))]
print('Updated Columns - Removed first column: ')
print(text_df.columns.values)

print(' ')
# review_text.head()

# cleaning column names 
clean_columns(text_df)

text_df.head()

Original Columns:
['Unnamed: 0' 'Clothing ID' 'Age' 'Title' 'Review Text' 'Rating'
 'Recommended IND' 'Positive Feedback Count' 'Division Name'
 'Department Name' 'Class Name']

Updated Columns - Removed first column:
['Clothing ID' 'Age' 'Title' 'Review Text' 'Rating' 'Recommended IND'
 'Positive Feedback Count' 'Division Name' 'Department Name' 'Class Name']

updated column names:
 ['clothing_id' 'age' 'title' 'review_text' 'rating' 'recommended_ind'
 'positive_feedback_count' 'division_name' 'department_name' 'class_name']

,clothing_id,age,title,review_text,rating,recommended_ind,positive_feedback_count,division_name,department_name,class_name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses