In [84]:
import pandas as pd
pd.set_option('display.max_columns',150)
import re

In [85]:
# this function will clean the column names of a df to make it more friendly to use 
# this functinon will take the name of the df as the paramter 
# this function only keeps words or digits, removes additional spaces,replaces spaces with underscores, and converts the field names to lowercase
# this functino will update the df field names with the cleaned names produced by the function 

def clean_columns(df):
    cols = df.columns
    cols = cols.str.replace(r'[^\w\s]',"")
    cols = cols.str.strip()
    cols = cols.str.replace('  ',' ')
    cols = cols.str.replace(' ','_')
    cols = cols.str.lower()
# updating column names with cleaned names    
    df.columns = cols
    
    return print(df.columns.values)

In [86]:
# example of function output 
file = 'https://people.sc.fsu.edu/~jburkardt/data/csv/crash_catalonia.csv'
test_df = pd.read_csv(file)
test_df.head(3)

  Day of Week   "Number of Crashes"
0      Sunday                 13664
1      Monday                 17279
2     Tuesday                 17337

In [87]:
print('Below are the original column names:')
print(test_df.columns.values)
print(' ')

print('Below are the cleaned column names:')
clean_columns(test_df)

Below are the original column names:
['Day of Week' ' "Number of Crashes"']

Below are the cleaned column names:
['day_of_week' 'number_of_crashes']